<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", '/advertisment/home'%></li>
        <li><%= link_to "Help", '/advertisment/help'%></li>
        <li><%= link_to "Challenges", '/advertisment/challenges' %></li>
        <li><%= link_to "Users", '/advertisment/users' %></li>
      </ul>
    </nav>
  </div>
</header>