body{
  margin:0;
  font-size:20px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color:#ff0000;
}

hr{
  border-style: dotted none none;
  width: 5%;
  height: 5px;
  border-width: 7px;
  border-color:#ff0000;
}

.top-container
{
   background-color:#ff0000;
   position: relative;
   padding-top:100px;
   height:43vw;
}
.middle-container
{
   background-color:#000000;
}

.bottom-container
{
   background-color:#ff0000;
   height:200px;
}

.container
{
   background-color:#000000;
   position: relative;
   padding-top:100px;
   height:43vw;
}



h1
{
  font-family: 'Great Vibes', cursive;
  font-size:5.625rem;
  margin-bottom: 0;
  color:#000000;
}

.h
{
  font-family: 'Great Vibes', cursive;
  font-size:5.625rem;
  margin-bottom: 0;
  color:#ff0000;
}

.hh
{
  font-family: 'Montserrat', sans-serif;
  font-size:2rem;
  color:#000000;
  font-weight:normal;
}

h2
{
  font-family: 'Montserrat', sans-serif;
  font-size:2rem;
  color:#66bfbf;
  font-weight:normal;

}
h3
{
  font-family: 'Montserrat', sans-serif;
  color:#11999e;
}

.house
{
  position:absolute;
  top:10px;
  right:666px;
}
.doll
{
  position:absolute;
  left:500px;
}

.self
{
  padding-top:10px;
  width:15%;
}



.linkedin
{
  padding:100px 30px 0px 0px;
}

.twitter
{
  padding:100px 30px 0px 0px;
}

.cpr
{
  color:#000000;
  font-size: 1rem;
}


.ds
{
  float:left;
  margin-right:30px;

}

.wd
{
  float:right;
  margin-left: 30px;
}

.skill-row
{
  width:50%;
  margin:100px auto;
  text-align:left;
  line-height: 2;
}

.ml-desc
{
  clear:left;
}

.wd-desc
{
  clear:right;
}

.btn	
{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color:#000000;
}

.btn:hover
{
  color:red;
}

